@import url(../agn/partials/navbar.css);
@import url(./partials/header_icons.css);

.main-content {
    width: 100%;
    margin-left: 7rem;
    margin-right: 2rem;
    /* margin-top: 2rem; */
    padding: 1rem;
    transition: margin-left 0.5s ease;
}

.application-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.header-actions {
    display: flex;
    gap: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem;
}

.search-bar input {
    border: none;
    padding: 0.05rem;
    width: 250px;
}

.search-bar button {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
}