@import url(./partials/navbar.css);
@import url(./partials/footer.css);

/* Header Section */
.contact__header {
  margin-top: 5rem;
  padding: 50px 0;
  text-align: center;
}

.header__container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--white-color);
}

.header__container p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--white-color);
}

/* Contact Section */
.contact__section {
  padding: 50px 0;
  background-color: transparent;
}

.contact__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.contact__form,
.contact__info {
  background-color: var(--light-gray);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  flex-basis: 48%;
}

/* Form Styles */
.contact__form {
  width: 100%;
  max-width: 500px;
}

.form__group {
  margin-bottom: 20px;
}

.form__group label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
}

.form__group input,
.form__group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background: transparent;
  transition: 0.3s ease;
}

.form__group input:focus,
.form__group textarea:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form__submit {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
}

.form__submit:hover {
  color: var(--primary-color);
  background: transparent;
}

/* Contact Information */
.contact__info h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.contact__info p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}


