@import url(./partials/root.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to bottom, #52b0cf, #e2e8f0);
}

.container{
    display: flex;
    max-width: 1000px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    
}
.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.alert.success {
    color: green; /* Text color red */
    background-color: #ffcccc; /* Light red background */
    border: 1px solid green;
}
.alert.error {
    color: red; /* Text color red */
    background-color: #ffcccc; /* Light red background */
    border: 1px solid red;
}
.image-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-gray);
    
    padding: 40px;
    
}
.form-section{
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
h1{
    color: var(--text-secondary);
    margin-bottom: 10px;
    font-weight: 600;
}

.subtitle{
    font-size: 1.8rem;
    color: var(--text-secondary);
    margin-bottom: 40px;
    font-weight: 500;
}

label{
    color: #6b7280;
    margin-bottom: 8px;
    font-size: 1rem;
}

input[type="email"]{
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #cbd5e1;
    font-size: 1rem;
    margin-bottom: 30px;
    outline: none;
    transition: border-color 0.3s;
    background: transparent;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

input[type="email"]:focus{
    border-color: var(--primary-dark);
}

.button-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.reset-btn{
  
    background-color: #050097;
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 1rem;
    cursor: pointer;
   
}

.login-link{
    color: #4c6ef5;
    font-size: 1rem;
    transition: color 0.3s;
}

.login-link:hover{
    color: var( --link-hover);
    text-decoration: underline;
}



.illustration {
    width: 80%;
    height: auto;
}

.illustration .folder {
    fill: #4c6ef5;
}

.illustration .lock {
    fill: #ff6b6b;
}

.illustration .key {
    fill: #ff6b6b;
}

.illustration .gears {
    fill: #a5b4fc;
}

.illustration .person {
    fill: #4c6ef5;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        padding: 30px;
    }

    .form-section {
        padding: 40px 30px;
    }
}